/*==== font ===*/
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir.woff2') format('woff2'), 
    url('fonts/Vazir.woff') format('woff'), 
    url('fonts/Vazir.ttf') format('truetype');
   }
   @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Vazir-Bold.eot');
    src: url('fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir-Bold.woff2') format('woff2'), 
    url('fonts/Vazir-Bold.woff') format('woff'), 
    url('fonts/Vazir-Bold.ttf') format('truetype');
   }

*,::after,::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: hsl(100, 48%, 95%);
    font-family: 'Vazir';
    font-weight:normal;
}
header{
    background-image: url('./image/home.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;
}
h1{
    font-size: 30px;
    margin-bottom: 20px;
    color:hsl(209,34%,30%);
}
.container{
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
width: 1200px;
}
img{
    max-width: 100%;
}
p{
    line-height: 2;
}
.logo{
    height: 3rem;
    position: fixed;
    left: 10%;
}
.hamburger{
    position: absolute;
    right: 0px;
    left: 30%;
    margin: auto;
    background-color: transparent;
    border: 0;
    color:hsl(209,34%,30%);
    font-size: 20px;
    cursor: pointer;
    display: none;
}
/* .hamburger:focus{
    outline: none;
} */
nav{
    display: flex;
    align-items: center;
    direction: rtl;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
    
}
.nav-ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    

}

.nav-ul li{
    margin-left: 2rem;
}

.nav-ul li a{
    text-decoration: none;
    color:hsl(209,34%,30%);
    transition: (all 0.3s linear);
    font-weight: bold;
    transition: 0.3s;
}
.nav-ul li a:hover{
    color: hsl(24,100%,50%);
   
    
}
/* .header-photo{
    height: 300px;
    margin-bottom: 3rem;
} */
.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 7px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 10%;
    z-index: 100;
}
.hero{
    width: 600px;
max-width: 100%;
text-align: center;
margin: 20px auto;
}
.section{
    height: 80vh;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.title{
    text-align: center;
    padding-top: 7rem;
    justify-content: center;
    color:  hsl(209,61%,16%);
}
.slider{
    position: relative;
    width: 40%;
    margin: 20px auto;
    z-index: -1;
    
}
.slider img{
    width: 100%;
}
.slide{
    display: none;
    animation: fade 1s;
    
}
.slide.active{
    display: block;
}

.prev,.next{
    
    text-decoration: none;
    
    color: #000;
    cursor: pointer;
}
/* .next{
    right: 5px;
}
.prev{
    left: 5px;
} */
#dots{
    text-align: center;
    
}
.dot{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #fff;
    border: 1px solid hsl(209,61%,16%);
    display: inline-flex;  
    border-radius: 50%;
    justify-content: center;  
}
footer{
    text-align: center;
    background-color: hsl(209,61%,16%);
    display: flex;
    justify-content: center;
    height: 30vh;
}
footer p{
    display: flex;
    align-items: center;
    color: #fff;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.btn{
    background-color: hsl(209,61%,16%);
    opacity: 0.8;
    background-repeat:no-repeat;
    border: solid 3px hsl(209,61%,16%);
    cursor:pointer;
    padding: 1rem;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    
}
@media screen and (max-width: 767px){
    h1{
        font-size: 17px;
    }
    .container-ul{
        position: relative;
        width: 80%;
    }
    .nav-ul{
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        transform: translate(15%,10%);
        align-items: flex-start;
        background-color: #F0F0F0;
        padding-right: 2rem;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
   .show{
        display: flex;
        /* justify-content: flex-start; */
        transition: width 2s, height 4s;
    }
    .hamburger{
        display: block;
        padding-bottom: 15px;
        left: 80%;
    }
    .logo{
       
        position: fixed;
        right: 30%;
        left: 10%;
    }
   
    .btn{
        width: 100%;
    }
    .nav-ul li a{        
        
    }
    .hero-margin-top{
        margin-top: 100px;
    }
    .prev,.next{
        font-size: 25px;
    }
    .dot{
        width: 20px;
        height: 20px;
    }
    
}
.hero p{
    margin-bottom: 2rem;
}
.foodish{
    max-width: 1024px;
    margin: 45px auto;
    display: flex;
    justify-content: space-around;
}
.card{
    width: 30%;
    border: 0.2px solid #888;
    border-radius: 5px;
}
.card-img{
    background-image: url("./image/slide4.jpeg");
    width: 100%;
    background-size: cover;
    height: 200px;
}
.card-body{
    width: 100%;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    height: 150px;
}
.card-title{
    margin-right: 5%;
    direction: rtl;
    
}
.card-text{
    margin-right: 5%;
    direction: rtl;
    font-size: 14px;
}
.card-btn{
    width: 40%;
    height: 35px;
    border: 1px solid #888;
    border-radius: 5px;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    right: 5%;
}